body{
    background-color: white;
    background-image: url("../images/sound2.png");
}

.deb-im {
    size: 20px;
}

#alertNoTopics{
    font-size: large;
}

.input-group-btn{
    color:red;
}

#navi {
    color: green;
}
.color-me {
    color: orange;
}

#profile-head{
    background-color: #650d88;
    color: #e78200;
    border: dashed ;
    border-color: orangered;
    border-width: 10px;
    text-align: center;
}

.thumbnail{
    width: 150px;
}

.media-object{
    height: 75px;
}

#prof_det{
    font-size: large;
    text-align: center;
}

.navbar{
    border-radius: 0;

}

.navbar-brand{
    font-family: 'Syncopate', cursive;
    color : white;
}

#navbarAll{
    background-color: #650d88;


}