<div class="modal-header"><h4>Create a debate</h4></div>
<form class="form-horizontal modal-body" action="{% url 'debate:debate-topic-add' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'debate/form-template.html' %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>
<div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal">Close</button>
</div>
