{% extends 'debate/base.html' %}

{% block title %}<title>Debate Details</title>{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="panel">
            <ul class="nav nav-tabs">
                <li>
                    <a href="#det-debate-topic" data-toggle="tab" class="'">Debate Info</a>
                </li>
                <li>
                    <a href="#det-comments" data-toggle="tab">Comments</a>
                </li>
                <li>
                    <a href="#det-articles" data-toggle="tab">Articles</a>
                </li>
            </ul>

            <ul class="tab-content">
                <li id="det-debate-topic" class="tab-pane active" >
                    <h1>Debate: {{ debatetopic.topic }}</h1>
                    <h3>Description: {{ debatetopic.description }}</h3>
                    <ul><h4>Topic Tags:</h4>
                        {% for tag in debatetopic.tags %}
                            <li>
                                <p>{{ tag }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li id="det-comments" class="tab-pane">
                    <div class="row">
                        <div class="col-md-8 ">
                            <div class="container-fluid">
                                {% load comments static %}
                                <link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
                                <script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
                                {% render_comment_form for debate.debatetopic debatetopic.id %}
                                {% render_comment_list for debate.debatetopic debatetopic.id %}
                            </div>

{#                            <a href="{% url 'debate:comment-add' pk=debatetopic.pk%}"> Add comment</a>#}
{##}
{#                            <form method="post" enctype="multipart/form-data" id="myForm">#}
{#                                {% csrf_token %}#}
{#                                <div class="form-group">#}
{#                                    <label>Share your voice!</label>#}
{#                                    <input type="text" class="form-control" id="comment-input" placeholder="Comment">#}
{#                                    <button class="btn btn-primary" type="submit">Post</button>#}
{#                                </div>#}
{#                            </form>#}
{#                            <script>#}
{#                                // wait for the DOM to be loaded#}
{#                                $(document).ready(function() {#}
{#                                    // bind 'myForm' and provide a simple callback function#}
{#                                    $('#myForm').ajaxForm(function() {#}
{#                                        alert("Thank you for your comment!");#}
{#                                    });#}
{#                                });#}
{#                            </script>#}
                        </div>
                    </div>

{#                    {% for comment in debatetopic.points.all %}#}
{#                    <div class="row">#}
{#                        <div class="col-md-1 ">#}
{#                            <div>#}
{#                                <img id="comment-img" class="img-responsive img-circle" src="{{ comment.author.userprofile.image.url }}">#}
{#                            </div><!-- /thumbnail -->#}
{#                        </div><!-- /col-sm-1 -->#}
{##}
{#                        <div class="col-md-6">#}
{#                            <div class="panel panel-default">#}
{#                                <div class="panel-heading">#}
{#                                    <strong>{{ comment.author.first_name }} {{ comment.author.last_name }}</strong>#}
{#                                    <span class="text-muted">commented on {{ comment.created_date }}</span>#}
{#                                    <button class="btn btn-primary">Good Point! <span class="badge">{{ comment.good_points }}</span></button>#}
{#                                    <button class="btn btn-danger" type="button">Unclear <span class="badge">{{ comment.bad_points }}</span></button>#}
{#                                </div>#}
{#                                <div class="panel-body">#}
{#                                    {{ comment.claim|linebreaks }}#}
{#                                </div><!-- /panel-body -->#}
{#                            </div><!-- /panel panel-default -->#}
{#                        </div><!-- /col-sm-5 -->#}
{#                    </div>#}
{##}
{#                    {% empty %}#}
{#                        <p>Be the first to spark this debate!</p>#}
{#                    {% endfor %}#}
                </li>
                <li id="det-articles" class="tab-pane">
                    <h1>Articles</h1>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
