{% extends 'debate/base.html' %}

{% block title %}<title>Debates Login</title>{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Welcome</h1>
                            <p>
                                Start debating!
                            </p>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-success">Login</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <img src="/static/debate/images/debate_it_person.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
